* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.btn:hover {
    background-color: lightgray;
}